<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
        <div class="row">
            <div class="4u 12u(mobile)">
                <section>
                    <header>
                        <h2>Способы обратной связи</h2>
                    </header>
                    <ul class="divided">
                        <li><a href="#">Обноружен баг</a></li>
                        <li><a href="#">Связаться с тех-поддержкой</a></li>
                        <li><a href="#">Высказать пожелания</a></li>
                    </ul>
                </section>
            </div>
            <div class="4u 12u(mobile)">
            </div>
            <div class="4u 12u(mobile)">
                <section>
                    <header>
                        <h2>Мы в социальных сетях</h2>
                    </header>
                    <ul class="social">
                        <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
                        <li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                        <li><a class="icon fa-vk" href="#"><span class="label">Vk</span></a></li>
                        <li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
                    </ul>
                    <ul class="contact">
                        <li>
                            <h3>Админы</h3>
                            <p>
                                <a href="#">markovdenis2012@gmail.com</a><br />
                                <a href="#">someone@untitled.tld</a><br />
                                <a href="#">someone@untitled.tld</a>
                            </p>
                        </li>
                        <li>
                            <h3>Телефон</h3>
                            <p>(800) 000-0000</p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">

                <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        <li>&copy; Все права защищены.</li><li>Автор: <a href="#">Денис Марков</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
