<div class="row">
    <div class="col-lg-2 social">
        <div class="row">
            <div class="gift">
                <div class="img_gift">
                    <img src="/resources/img/gift.png" class="center">
                </div>
                <p>Добавь в свой ник steam <span class="span1">{{setting[0].siteName}}</span> и получи <span
                        class="span2">БОНУС</span> к выигрышу <span class="span2">{{setting[0].bonus}}%</span></p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="vk">
                <i class="fa fa-vk"><p>Мы в ВК</p></i>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="content">
            <div class="content1">
                <div class="content">
                    <div class="currentGame row">
                        <div class="col-lg-8 indent">
                            <div class="row text-center vertical-line">
                                <h2 class="line">Игра № {{game.id}}</h2>

                                <h2 class="line">Банк {{application.language == 'ru' ? game.total.rub : game.total.usd}}
                                    {{application.text.valute}}</h2>

                                <h2 class="line">Внесено предметов {{game.countWeapons}}</h2>

                            </div>
                            <div class="row users">

                                <div class="line" ng-repeat="player in game.players">
                                    <div class="thumbnail line user">
                                        <img ng-src="{{player.imageUrl}}">

                                        <div class="caption text-center">
                                            <h3>{{player.nickName}}</h3>

                                            <p>{{player.probability}} %</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h1 ng-show="game.players.length < setting[0].countPlayerForStartGame">
                                {{game.players.length}} из {{setting[0].countPlayerForStartGame}}</h1>

                            <h1 class="text-center">До начала розыгрыша</h1>

                            <div class="timer text-center">300с</div>

                            <div class="text-center">
                                <button class="btn btn-danger btn-lg line" data-toggle="modal" data-target="#tread">
                                    Вступить в игру
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<div class="row">
    <div class="col-lg-2">

        <div ><!--ng-show="game.lastWinnerNickName"-->
            <h1>Последний победитель</h1>

            <div class="thumbnail line user">
                <img ng-src="{{'http://cdn.steamcommunity.com/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ'}}">

                <div class="caption text-center">
                    <h3>nnnn</h3>
                </div>
            </div>
        </div>
        <h2>Онлайн: {{game.countVisitors}}</h2>
    </div>
    <div class="col-lg-9">
        <div ng-repeat="player in game.players">
            <div ng-repeat="weapon in player.weaponList">
                <img  class="line" ng-src="{{'http://cdn.steamcommunity.com/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXU5A1PIYQNqhpOSV-fRPasw8rsUFJ5KBFZv668FFAuhqSaKWtEu43mxtbbk6b1a77Twm4Iu8Yl3bCU9Imii1Xt80M5MmD7JZjVLFH-6VnQJQ'}}">
                <h1 class="line">{{player.nickName}}</h1>
                <h1  class="line">внес</h1>
                <h1  class="line">{{weapon.weaponName}}</h1>
                <h1  class="line">{{application.language == 'ru' ? weapon.price.rub: weapon.price.usd}} {{application.text.valute}}</h1>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="tread" tabindex="-1" role="dialog" aria-labelledby="label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="label">Ссылка на обмен</h4>
            </div>
            <div class="modal-body">
                <p><a ng-href="{{setting[0].linkTradeOffer}}" target="_blank">{{setting[0].linkTradeOffer}}</a></p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>