<!-- Banner -->
<section id="banner">
    <header>
        <h2>{{application.text["citation"]}}</h2>
        <p>Фридрих Ницше</p>
    </header>
</section>

<!-- Intro -->
<section id="intro" class="container">
    <div class="row">
        <div class="4u 12u(mobile)">
            <section class="first">
                <i class="icon featured fa-database"></i>
                <header>
                    <h2>Большое хранилище курсов</h2>
                </header>
                <p>Множество интереснейших интерактивных курсов позволят вам, легко и интересно, обучяться разным дисциплинам.</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="middle">
                <i class="icon featured alt fa-pencil"></i>
                <header>
                    <h2>Написать свой курс</h2>
                </header>
                <p>Мощный редактор позволит вам создать свой собственный интерактивный курс с встроенной программой на языке JavaScript.</p>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="last">
                <i class="icon featured alt2 fa-question "></i>
                <header>
                    <h2>Форум</h2>
                </header>
                <p>Спросить или порассужать на интересующие темы на форумах.</p>
            </section>
        </div>
    </div>
    <footer>
        <ul class="actions">
            <li><a href="#" class="button big">Посмотреть дисциплины</a></li>
            <li><a href="#" class="button alt big">Узнать как писать курсы</a></li>
        </ul>
    </footer>
</section>

</div>