<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="social">
                <div class="row">
                    <div class="gift" >
                        <div class="img_gift">
                            <img src="/resources/img/gift.png">
                        </div>
                        <p>Добавь в свой ник steam <span class="span1">{{application.domain}}</span> и получи <span class="span2">БОНУС</span> к выигрышу <span class="span2">5%</span> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="vk">
                            <i class="fa fa-vk"><p>Мы в ВК</p></i>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-10 ">
            <div class="content">
                <div class="content1">страница игры</div>
            </div>
        </div>
    </div>
</div>
